<h1>Log In User</h1>

<form method="post">
    <label>User name</label>
    <input class="form-control" type="text" name="username" />
    <label>Password</label>
    <input class="form-control" type="text" name="password" />
    <button class="btn btn-info">Log In</button>
</form>

<h2 style="color:red">@ViewData["MENSAJE"]</h2>